:root {
  background: linear-gradient(135deg, #E3F2FD, #94B8D1, #5D8BAF);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}